
<div class="ui raised centered card">
  <div class="content">

    <div class="header">{{ model.bookmark.display_name }}</div>
    <!-- <div class="meta">5/5/2014</div> -->
    <!-- <div class="meta">
    <span class="category">Animals</span>
  </div> -->
    <div class="ui sub header">{{ model.bookmark.source }}</div>
    <div class="meta">
      <span class="category">{{ model.bookmark.source_type}}</span>
    </div>

    <!-- truncate description -->
    <div class="description">
      <p>{{ model.bookmark.description }}</p>

      <b>Labels:</b>
      <div ng-repeat="tag in model.bookmark.tags" >
        {{ tag.name }}
      </div>

      <!-- NOTE add pointer to url -->
      <!-- truncate url -->
      <p id="js-copyUrl"><a ng-href="{{model.bookmark.url}}" target="_blank">{{model.bookmark.url}}</a>
        <span ngclipboard data-clipboard-text="{{ model.bookmark.url }}">
          <i class="paste icon"></i> copy url to clipboard
        </span>
      </p>
    </div>
  </div>


  <!-- NOTE add pointer to click methods -->
  <div class="extra content">
    <i ng-click="model.bookmark.getVote('upVote', bookmark)" class="left floated thumbs up icon"></i>
    <i ng-click="model.bookmark.getVote('downVote', bookmark)" class="left floated thumbs outline down icon"></i>

    <span class="right floated star">
      <i class="check icon"></i>
      Likes {{ model.bookmark.rating }}
    </span>
  </div>

  <!-- add an ng if to prevent link from showing up on profile -->
  <!--  change icon-->
  <div class="ui bottom attached button" ng-click="takeVote('upVote', model.bookmark.id )">
    <a ui-sref="show({id: model.bookmark.id })">
      <i class="add icon"></i>
      More Info
    </a>
  </div>

</div>
