<!-- site navigation -->
<!-- remove hrefs -->
<a class="item" href="#" ui-sref="home" ui-sref-active="active">
  <i class="bookmark icon"></i>
  shareMark
</a>
<a class="item" href="#" ui-sref="bookmarks.search" ui-sref-active="active">Search</a>
<!-- <a class="item" href="#" ui-sref="bookmarks" ui-sref-active="active">Bookmarks</a> -->
<a class="item" href="#" ui-sref="bookmarks.new" ui-sref-active="active">Create Bookmark</a>
<a class="item" href="#" ui-sref="support.faq" ui-sref-active="active">Latest Additions</a>
<a class="item" href="#" ui-sref="support.faq" ui-sref-active="active">FAQs</a>
