// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Global Styles
// html {
//   height: 100%;
// }
body {
  font-size: 18px;
}

// Colors
$github        : #333333;
$jet           : #222222;
$astral		     : #337AB7;
$semi-transparent  :rgba(255,255,255,.92);
$white         : #ffffff;
$vapor         : #f6f6f6;
$white-smoke   : #f5f5f5;
$smoke         : #eeeeee; //border

.center-vertical {
  position: relative;
  top: 50%;
  color: $smoke;
  // transform: translateY(-50%);
}

// .truncate {
//   width: 25px;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

.capitalize {
  text-transform: capitalize;
}

// Page/State Title
.title {
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}
.state-search .title {
  font-size: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

// NOTE: change later
.bookmark-list-title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5rem;
}

.float-right {
  float: right;
}
i.float-right {
  margin-right: 9px;
}



// FORMS
form .select{
  margin-bottom: 10px;
  select {
    height: 37.8819px;
  }
}
form {
  section {
    margin-top: 1.75rem;
  }
}
.rails-error {
  list-style-type: none;
  color: red;
}

.warning > div {
  color: red;
  margin-top: 10px;
  text-align: center;
}

// #select-align, #field-align {
//   padding-right: 0;
//   background: #E8E8E8;
//       border-top-right-radius: 0px;
//       border-bottom-right-radius: 0px;
//       border: none;
// }
//
// #field-align {
//   .ui.form select {
//     background: #E8E8E8;
//   }
// }

//ngTagsInput module
#ngtaginput {
  input {
    margin: 2px;
    padding: 0 0 0 5px;
    float: left;
    height: 26px;
    border: none;
    transition: color 0.1s ease;
    vertical-align: middle;
  }

  tags-input .tags .tag-item{
    color: #fff;
    background: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
  }

  label {
    display: block;
    margin: 0em 0em 0.28571429rem 0em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.92857143em;
    font-weight: bold;
    text-transform: none;
  }

  .ngtaginput-error.ng-pristine .tags {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
  }

  .ngtaginput-error.ng-pristine.ng-empty.ng-touched {
    border: 1px solid red;
  }
  .host {
    margin: 0;
  }
}


// Bookmarks (ui-semantic .cards)
.ui.cards > .card, .ui.card {
      width: 750px;
}
.ui.raised.centered.card {
  z-index: 100;
  margin-bottom: 5rem;
}
.ui.bottom.attached.button {
  background: $astral;
  color: $smoke;
}



// Voting Icons
#vote {
  cursor: pointer;
  // body > div > div > ui-view > search > section > section > div > ul:nth-child(1) > div > div.extra.content > div > i.left.floated.thumbs.up.icon.large {
  //   transition: all .2s ease-in-out;
  //   transform: scale(1.1);
  // }
  .thumbs.icon {
    transition: all .2s ease-in-out;
    color: rgba(0, 0, 0, 0.6);
  }
  .thumbs.icon:hover {
    transform: scale(1.5);
  }

  .thumbs.icon:not(.outline) {
    color: $astral;
  }

}


#js-copyUrl {
    cursor: pointer;
  .copy-text {
    color: #AAAAAA;
    font-size: 1rem;
    margin-top: 5px;
  }
}


// Search bar (home & search state)
.state-home {
  .input.ui.icon {
    width: 100%;
  }
}



.state-new {
  .ui.container.segment {
    margin-bottom: 15%;
    z-index: 100;
    form {
      .pad {
          padding: 1rem 9rem 0;
        button {
          padding: 1rem;
          width: 94%;
          margin-top: 2rem;
        }
      }
    }
  }

}


// NOTE: center elements and create sticky footer
  body {
    // min-height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
  }

  // .flex-item {
  //   align-self: center;
  //   text-align: center;
  // }
  //
  // .content-container {
  //   // display: flex-1;
  //   flex: 1;
  //   padding: 20px;
  //   // height: 100%
  // }




  //Helper classes
  .center-text {
    text-align: center;
  }
  .center-content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    // min-height: 0px;
    // background: #FFFFFF;
    padding: 0em;
    border: none;
    // border-radius: 0.28571429rem;
    // box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
    // -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
    // transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
    // transition: box-shadow 0.1s ease, transform 0.1s ease;
    // transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease;
  }









//Navigation
.content-padding {
  // NOTE: provide padding for content under navigation
  // padding-top: 75px;
  padding-top: 10rem;

}
.ui.top.fixed.menu {
  height: 5rem;
  a {
    font-size: 1.2rem;
    flex-grow: 1;
    text-align: center;
  }
}


//Footer
.footer {
  background-color: $github;
  font-size: 1.3rem;
  height: 75px;
  text-align: center;

  i.square.large.icon {
    width: 1.3rem;
    vertical-align: baseline;
    font-size: 1.2em;
  }
  .copyright {
    margin-right: 5px;
  }
}



//NOTE: Sticky Footer
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  // NOTE: https://css-tricks.com/couple-takes-sticky-footer/
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -100px;
}
.footer {
  height: 100px;
}


/// STATES ///

//HOME STATE
.state-home {
  // margin-top: 7%;

  .button, .ui.button:hover {
    margin: 2rem 10rem;
    background: $astral;
    color: $smoke;
    // margin-left: 10rem;
    // margin-right: 10rem;
  }

  .main-title {
    font-size: 4rem;
    i {
      color: red;
      margin-left: -5px;
    }
  }
  .tag-line {
    margin-top:0;
  }
  .logo-start {

  }

  .logo-end {

  }
}

//Tags State
.state-tags {
  // TODO: add to all states
  // .centered.card.ui.raised {
  //   margin-bottom: 15%;
  // }
  font-size: 1.6rem;
  .logo {
    //decrease font weight
    font-weight: 400;
  }

  .ui.horizontal.divider.header{
    width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
  }

  .ui.raised.very.padded.text.container.segment {
    padding: 3rem 6rem;
    margin-bottom: 15%;
    .item {
      font-size: 1.5rem;
      margin-bottom: .75rem;
    }
    z-index: 100;
  }
}


//SEARCH STATE
.state-search {
  z-index: 100;
  .search .ui {
    margin-bottom: 5rem;
  }
}

//STATE SHOW
.state-show {
  .centered.card.ui.raised {
    margin-bottom: 15%;
  }
  .ui.horizontal.divider.header{
    width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
  }
}


// add to font stack
// font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;

#bookmark-list {
  color: rgba(0, 0, 0, 0.68);
  padding: 0;
  .content {
    padding: 2rem;
  }

  .bookmark-header {
    color: $astral;
    font-weight: bold;
    font-size: 2rem;
    // margin-top: -0.21425em;
    line-height: 1.2857em;
    // text-align: center;
  }
  .bookmark-subheader {
    padding: 0;
    margin-bottom: 0;
    margin-top: .75rem;
    font-weight: bold;
    font-size: 0.85714286em;
    text-transform: uppercase;
    color: grey;//change to variable
  }

  .source {
    padding: 0em;
    margin-bottom: 0.14285714rem;
    // font-weight: bold;
    font-size: 0.85714286em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);//change to variable
  }

  .tag-list {
    list-style-type: none;
    margin-top: 5px;
    // margin-left: 10px;
    padding-left: 0;
    .tag.icon {
      line-height: 1.75rem;
      margin-right: 0;
    }
  }
}

.bookmark-category {
  font-size: 1.5rem;
  margin-top: 1.2rem;
  margin-bottom: 2px;

}


// Bookmark-Details

.likes {
  color: rgba(0, 0, 0, 0.4);
}
