<h2 class="title">Create a Bookmark</h2>

<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">

    <form name="form" ng-submit="model.createBookmark()" class="ui form">

      <section class="row">
        <div ng-messages="form.display_name.$error" ng-if="form.display_name.$touched">
          <div ng-message="required">Display Name is required.</div>
          <div ng-message="minlength">Display Name must be more than 5 characters.</div>
          <div ng-message="minlength">Display Name must be less than 40 characters.</div>
        </div>
        <div class="inline fields">
          <div class="three wide field">
            <label for="display_name">Display Name</label>
          </div>
          <div class="eleven wide field">
            <input ng-model="model.newBookmark.display_name" type="text" name="display_name" placeholder="How to use devise in rails"
              ng-minlength="5"
              ng-maxlength="40"
              required>
          </div>
        </div>
      </section>

      <section class="row">
        <div ng-messages="form.description.$error" ng-if="form.description.$touched">
          <div ng-message="required">Description is required.</div>
          <div ng-message="minlength">Description must be more than 15 characters.</div>
          <div ng-message="minlength">Description must be less than 2500 characters.</div>
        </div>
        <div class="inline fields">
          <div class="three wide field">
            <label for="description">Description</label>
          </div>
          <div class="eleven wide field">
            <textarea name="description" ng-model="model.newBookmark.description" rows="3"
              ng-minlength="15"
              ng-maxlength="2500"
              required>
            ></textarea>
          </div>
        </div>
      </section>

<!-- //note name of a resource -->
      <section class="row">
        <div ng-messages="form.source.$error" ng-if="form.source.$touched">
          <div ng-message="required">Source is required.</div>
          <div ng-message="minlength">Source must be more than 2 characters.</div>
          <div ng-message="minlength">Source must be less than 50 characters.</div>
        </div>
        <div class="inline fields">
          <div class="three wide field">
            <label for="source">Source</label>
          </div>
          <div class="eleven wide field">
            <input ng-model="model.newBookmark.source" type="text" name="source" placeholder="Stackoverflow"
              ng-minlength="2"
              ng-maxlength="50"
              required>
          </div>
        </div>
      </section>

      <section class="row">
        <div class="inline fields">
          <div class="three wide field">
            <label>Source Type</label>
          </div>
          <div class="eleven wide field">
            <select ng-model="model.newBookmark.source_type" ng-options="s for s in model.source_types track by $id">
             </select>
          </div>
        </div>
      </section>

      <div class="row">
        <div ng-messages="form.url.$error" ng-if="form.url.$touched">
          <div ng-message="required">URL is required.</div>
          <div ng-message="minlength">URL must be more than 5 characters.</div>
          <div ng-message="minlength">URL must be less than 250 characters.</div>
        </div>
        <div class="inline fields">
          <div class="three wide field">
            <label for="url">URL</label>
          </div>
          <div class="eleven wide field">
            <input ng-model="model.newBookmark.url" type="text" name="url" placeholder="www.example.com" required="required">
          </div>
        </div>
      </div>

      <button ng-disabled="form.$invalid" class="ui button" type="submit" value="create new">Create New Bookmark</button>
    </form>
  </div>
</div>
