<!--  Application shell/layout -->

<!-- content wrapper for sticky footer -->
<div class="content__wrapper">
  <navigation class="ui top fixed menu pointing"></navigation>

  <!-- Application content -->
  <ui-view></ui-view>

</div><!-- /content__wrapper -->

<footer class="footer"></footer>
