<%# Application shell/layout %>

<div class="site-content">
  <navigation class="ui top fixed menu"></navigation>

  <!-- MAIN CONTENT -->
  <ui-view class="page-wrap"></ui-view>

</div>

<footer class="footer"></footer>
