<%# Application shell/layout %>

<!-- content wrapper for sticky footer -->
<div class="wrapper">

  <navigation class="ui top fixed menu pointing"></navigation>

  <!-- Application content -->
  <div class="content-padding">
    <ui-view></ui-view>
  </div>

</div><!-- /.wrapper -->

<footer class="footer"></footer>
