<title>Dom McKellar | shareMark</title>

<%= csrf_meta_tags %>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="google-site-verification" content="RPRubF6vNgx1mAYd_eUbQxQGbnTMy_PQRT-jEvSJ070" />

<meta name="description" content="shareMark is a community driven app where users have the ability to share a wide variety of learning resources and to participate through voting. The app was built with Rails, Angular, Semantic UI.">
<meta name="author" content="Dom McKellar">
<meta name="keywords" content="Sharemark, Dom McKellar">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@_dom_mc">
<meta name="twitter:title" content="shareMark by Dom McKellar">
<meta name="twitter:description" content="shareMark is a community driven app where users have the ability to share a wide variety of learning resources and to participate through voting. The app was built with Rails, Angular, Semantic UI.">
