<section class="state-search center-content">

  <div class="center-text">
    <h1>Search for a Bookmark</h1>

    <section>
      <div class="search ui fluid huge category">
        <div class="ui icon input">
          <input ng-model="searchQuery" class="prompt" type="text" placeholder="labels">
          <i class="search icon"></i>
        </div>
      </div><!-- /.search -->
    </section>

  </div><!-- /.center-text -->

  <section ng-show="(filteredData = (model.bookmarks | filter:searchQuery)) && searchQuery">
    <ul ng-repeat="bookmark in filteredData | filter: {tags:{name: searchQuery}} | orderBy: '-rating'">

      <div class="ui raised centered card">
        <div class="content">

          <div class="header">{{ bookmark.display_name }}</div>

          <div class="ui sub header">{{ bookmark.source }}</div>
          <div class="meta">
            <span class="category">{{ bookmark.resource_type}}</span>
          </div>

          <!-- truncate description -->
          <div class="description">
            <b>Description:</b>
            <p>{{ bookmark.description | limitTo:250}}
              <span ng-if="bookmark.description.length > 150">...</span>
            </p>

            <b>Tags:</b>
            <div ng-repeat="tag in bookmark.tags" >
              <a ui-sref="tagBookmarkList({tagName: tag.name})">
                - {{ tag.name }}
              </a>
            </div>
            <br>

            <!-- TODO: truncate url -->
            <p id="js-copyUrl">
              <b>URL:</b>
              <br>
              <a ng-href="{{'http://' + bookmark.url}}" target="_blank">
                {{bookmark.url}}
              </a>
              <span ngclipboard data-clipboard-text="{{ bookmark.url }}">
                <br>
                <i class="paste icon"></i>
                <span class="copy-text">copy url to clipboard</span>
              </span>
            </p>

          </div><!-- /description -->
        </div><!-- /content -->

        <!-- NOTE add pointer to click methods -->
        <div class="extra content">
          <div id="vote">
            <i ng-click="model.getVote('upVote', bookmark)" ng-class="{'outline':
            !(bookmark.rating > bookmark.previousRating)}" class="left floated thumbs up icon large"></i>

            <i ng-click="model.getVote('downVote', bookmark)" ng-class="{'outline':
            !(bookmark.rating < bookmark.previousRating)}" class="left floated thumbs down icon large"></i>
          </div>

          <span class="right floated star">
            <i class="thumbs up icon"></i>
            Likes {{ bookmark.rating }}
          </span>
        </div><!-- /.extra content -->

        <a ui-sref="show({id: bookmark.id})">
          <div class="ui bottom attached button">
            More Info
          </div>
        </a>
      </div><!-- /ui raised centered card -->

    </ul>
  </section>

</section>
