<section class="state-search center-content">

  <div class="center-text">
    <h1>Search Bookmarks</h1>

    <section>
      <h2>Shall We Begin Our Search</h2>

      <div class="search ui fluid category">
        <div class="ui icon input">
          <input ng-model="searchQuery" class="prompt" type="text" placeholder="labels">
          <i class="search icon"></i>
        </div>
      </div><!-- /.search -->
    </section>

  </div><!-- /.center-text -->

  <section>
    <div ng-show="(filteredData = (model.bookmarks | filter:searchQuery)) && searchQuery && searchQuery.length > 1">

      <ul ng-repeat="bookmark in filteredData | filter: {tags:{name: searchQuery}} | orderBy: '-rating'">

        <div class="ui raised centered card">
          <div class="content">

            <div class="header">{{ bookmark.display_name }}</div>

            <div class="ui sub header">{{ bookmark.source }}</div>
            <div class="meta">
              <span class="category">{{ bookmark.source_type}}</span>
            </div>

            <!-- truncate description -->
            <div class="description">
              <p>{{ bookmark.description }}</p>

              <b>Labels:</b>
              <div ng-repeat="tag in bookmark.tags" >
                {{ tag.name }}
              </div>

              <!-- NOTE add pointer to url -->
              <!-- truncate url -->
              <p id="js-copyUrl"><a ng-href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a>
                <span ngclipboard data-clipboard-text="{{ model.bookmark.url }}">
              </span><br>
              <i class="paste icon"></i> copy url to clipboard
              </p>
            </div>
          </div>


          <!-- NOTE add pointer to click methods -->
          <div class="extra content">
            <i ng-click="model.getVote('upVote', bookmark)" class="left floated thumbs up icon"></i>
            <i ng-click="model.getVote('downVote', bookmark)" class="left floated thumbs outline down icon"></i>

            <span class="right floated star">
              <i class="check icon"></i>
              Likes {{ bookmark.rating }}
            </span>
          </div>

          <div class="ui bottom attached button" ng-click="$parent.takeVote('upVote', bookmark.id )">
              <a ui-sref="show({id: bookmark.id})">More Info</a>
          </div>

        </div>

      </ul>
    </div><!-- /ng-show -->
  </section>

</section>
