<section class="state-search center-content">

  <div class="center-text">
    <h1 class="title">Search Bookmarks</h1>

    <section>
      <div class="search ui fluid huge category">
        <div class="ui icon input">
          <input ng-model="searchQuery" ng-model-options="{debounce: 700}" class="prompt" type="text" placeholder="labels">
          <i class="search icon"></i>
        </div>
      </div><!-- /.search -->
    </section>

  </div><!-- /.center-text -->

  <section ng-show="(filteredData = (model.bookmarks | filter:searchQuery)) && searchQuery">

    <ul id="bookmark-list" ng-repeat="bookmark in filteredData | filter: {tags:{name: searchQuery}} | orderBy: '-rating'">

      <!-- bookmark -->
      <section class="ui raised centered card bookmark">


        <div class="content">
          <a ui-sref="show({id: bookmark.id })">
            <h2 class="bookmark-header">
              {{ bookmark.display_name }}
            </h2>
          </a>
          <h3 class="bookmark-subheader">{{ bookmark.source }}</h3>
        </div><!-- /.content -->


        <div class="content">

          <h3 class="bookmark-category">Type of resource</h3>
          <p class="capitalize">{{ bookmark.resource_type}}</p>

          <h3 class="bookmark-category">Description</h3>
          <!-- truncate description -->
          <p>{{ bookmark.description | limitTo:250}}
            <span ng-if="bookmark.description.length > 150">...</span>
          </p>

          <h3 class="bookmark-category">Tags</h3>
          <ul class="tag-list">
          <div ng-repeat="tag in bookmark.tags" >
            <a ui-sref="tagBookmarkList({tagName: tag.name})">
              <li>
                <i class="tag icon"></i>
                {{ tag.name }}
              </li>
            </a>
          </div>
          </ul>

            <!-- TODO: truncate url -->
            <h3 class="bookmark-category">URL</h3>
            <div id="js-copyUrl">
              <a ng-href="{{'http://' + bookmark.url}}" target="_blank">
                <p>{{bookmark.url}}</p>
              </a>
              <span ngclipboard data-clipboard-text="{{ bookmark.url }}">
                <p class="copy-text" data-inverted="" data-tooltip="Copy URL to your clipboard" data-position="top left"><i class="paste icon"></i> copy url</p>
              </span>
            </div>

          </div><!-- /description -->
        </div><!-- /content -->

        <!-- NOTE add pointer to click methods -->
        <div class="extra content">
          <div id="vote">
            <i ng-click="model.getVote('upVote', bookmark)" ng-class="{'outline':
            !(bookmark.rating > bookmark.previousRating)}" class="left floated thumbs up icon large"></i>

            <i ng-click="model.getVote('downVote', bookmark)" ng-class="{'outline':
            !(bookmark.rating < bookmark.previousRating)}" class="left floated thumbs down icon large"></i>
          </div>

          <span class="right floated star">
            Likes {{ bookmark.rating }}
            <i class="thumbs up icon"></i>
          </span>
        </div><!-- /.extra content -->

        <a ui-sref="show({id: bookmark.id})">
          <div class="ui bottom attached button">
            More Info
          </div>
        </a>
      </section>

    </ul>
  </section>

</section>
