<!DOCTYPE html>
<html>
  <head>
    <title>Dom McKellar | ShareMark</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="RPRubF6vNgx1mAYd_eUbQxQGbnTMy_PQRT-jEvSJ070" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.css" />
    <%= javascript_include_tag 'application' %>

  </head>

  <body ng-app="shareMark">
    <%= yield %>
  </body>

</html>
