<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/partials/meta_tags" %>
    <%= stylesheet_link_tag 'application', media: 'all', debug: false  %>
    <%= javascript_include_tag 'application', debug: false %>
    <base href="/">
  </head>

  <body ng-app="shareMark">
    <%= yield %>
  </body>

</html>
